.champion{
    text-align: center;
    display: inline-block;
    font-size: 75%;
    width: 8%;
    height: 40%;
    margin: 0 1%;
    margin-top: 1%;
}
.champion .image{
    display: inherit;
    width: 100%;
    border-radius: 3px;
}
.champion img{
    border: 0.1px solid black;
    width: 30%;
    border-radius: 1px;
}
.pointer {
    cursor: pointer;
}
.gray {
    filter: grayscale(100%);
}

@media (max-width: 720px) {
    .champion{
        font-size: 55%;
        width: 10%;
    }
    .champion img{
        width: 28%;
    }
}

@media (max-width: 380px) {
    .champion{
        font-size: 40%;
        width: 9%;
    }
    .champion img{
        width: 28%;
    }
}

.image img{
    width: 100%;
    height: 95%;
}
.pin {
    width: 50px;
    height: 20px;
    cursor: pointer;
}