.champions{
    margin-top: 2vh;
    margin-left: 10%;
    width: 60%;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    height: auto;
}
.champions .champion{
    height: 10%;
    margin-top: 0%;
}
@media (max-width: 720px) {
    .champions{
        margin-top: 0.5vh;
        margin-left: 1%;
        width: 97%;
    }
    .champions .champion{
        height: 13%;
        width: 12%;
        font-size: 55%;
    }
}

@media (max-width: 380px) {
    .champions{
        margin-top: 1vh;
        width: 96%;
        height: 55vh;
    }
    .champions .champion{
        height: 10%;
        font-size: 50%;
    }
}