.champion{
    text-align: center;
    display: inline-block;
    font-size: 75%;
    width: 8%;
    height: 40%;
    margin: 0 1%;
    margin-top: 1%;
}
.champion .image{
    display: inherit;
    width: 100%;
    border-radius: 3px;
}
.champion img{
    border: 0.1px solid black;
    width: 30%;
    border-radius: 1px;
}
.pointer {
    cursor: pointer;
}
.gray {
    filter: grayscale(100%);
}
.image img{
    width: 100%;
    height: 95%;
    box-sizing: border-box;
}
.pin {
    width: 50px;
    height: 20px;
    cursor: pointer;
}
.blured {
    filter: blur(2px)
}
.bluredgray {
    filter: grayscale(100%) blur(2px);
}
.border1 img{
    border: 2.5px solid black;
    
}
.border2 img{
    border: 2.5px solid #125c2c;
}
.border3 img{
    border: 2.5px solid #10386e;
}
.border4 img{
    border: 2.5px solid #792a79;
}
.border5 img{
    border: 2.5px solid #a38b23;
}
@media (max-width: 720px) {
    .champion{
        font-size: 55%;
        width: 10%;
    }
    .champion img{
        width: 28%;
    }
}

@media (max-width: 380px) {
    .champion{
        font-size: 40%;
        width: 9%;
    }
    .champion img{
        width: 28%;
    }
}
